$positions: (
  absolute: absolute,
  fixed: fixed,
  relative: relative,
  sticky: sticky,
  static: static,
);

@each $key, $value in $positions {
  .#{$key} {
    position: $value;
  }
}

.inset-0 {
  inset: 0;
}

@each $name, $value in $spacing {
  .top-#{$name} {
    top: $value;
  }
  .bottom-#{$name} {
    bottom: $value;
  }
  .left-#{$name} {
    left: $value;
  }
  .right-#{$name} {
    right: $value;
  }
}
