$spacing: (
  "auto": auto,
  "none": 0,
  "xxs": 0.25em,
  "xs": 0.5em,
  "sm": 1em,
  "md": 2em,
  "lg": 4em,
  "xl": 8em,
  "xxl": 12em,
);

:root {
  @each $key, $value in $spacing {
    --space-#{$key}: #{$value};
  }
}

// Margins
@each $key, $value in $spacing {
  .m-#{$key} {
    margin: $value;
  }
  .mt-#{$key} {
    margin-top: $value;
  }
  .mr-#{$key} {
    margin-right: $value;
  }
  .mb-#{$key} {
    margin-bottom: $value;
  }
  .ml-#{$key} {
    margin-left: $value;
  }
  .mx-#{$key} {
    margin-left: $value;
    margin-right: $value;
  }
  .my-#{$key} {
    margin-top: $value;
    margin-bottom: $value;
  }
}

// Paddings
@each $key, $value in $spacing {
  .p-#{$key} {
    padding: $value;
  }
  .pt-#{$key} {
    padding-top: $value;
  }
  .pr-#{$key} {
    padding-right: $value;
  }
  .pb-#{$key} {
    padding-bottom: $value;
  }
  .pl-#{$key} {
    padding-left: $value;
  }
  .px-#{$key} {
    padding-left: $value;
    padding-right: $value;
  }
  .py-#{$key} {
    padding-top: $value;
    padding-bottom: $value;
  }
}
