/* Alignment */

$alignments: (
  center: center,
  left: left,
  right: right,
);

@each $key, $value in $alignments {
  .text-#{$key} {
    text-align: $value;
  }
}

/* Decoration */

.underline {
  text-decoration: underline;
}

/* Weight */

$weights: (
  light: 300,
  normal: 400,
  semibold: 600,
  bold: 700,
);

@each $key, $value in $weights {
  .text-#{$key} {
    font-weight: $value;
  }
}

/* Size */

$sizes: (
  small: 0.9em,
  large: 1.2em,
);

:root {
  @each $key, $value in $sizes {
    --text-#{$key}: #{$value};
  }
}

@each $key, $value in $sizes {
  .text-#{$key} {
    font-size: $value;
  }
}
