/* Alignment */

$text: (
  transform: (
    uppercase: uppercase,
    lowercase: lowercase,
    capitalize: capitalize,
  ),
  align: (
    center: center,
    left: left,
    right: right,
  ),
  decoration: (
    underline: underline,
  ),
);

@each $property, $values in $text {
  @each $key, $value in $values {
    .text-#{$key} {
      text-#{$property}: $value;
    }
  }
}

$font: (
  size: (
    xxs: 0.6em,
    xs: 0.8em,
    sm: 0.9em,
    lg: 1.2em,
    xl: 2em,
    xxl: 3em,
  ),
  weight: (
    light: 300,
    normal: 400,
    book: 500,
    semibold: 600,
    bold: 700,
  ),
);

@each $key, $value in $font {
  @each $key, $value in $value {
    .font-#{$key} {
      font-weight: $value;
    }
  }
}
