.border {
  border: 1px solid currentColor;
}

.border-thick {
  border-width: 2px solid currentColor;
}

.rounded-xxs {
  border-radius: 0.125em;
}

.rounded-xs {
  border-radius: 0.25em;
}

.rounded-sm {
  border-radius: 0.5em;
}

.rounded-md,
.rounded {
  border-radius: 1em;
}

.rounded-lg {
  border-radius: 2em;
}

.rounded-full {
  border-radius: 50%;
}
