$border-radii: (
  "xxs": 0.125em,
  "xs": 0.25em,
  "sm": 0.5em,
  "md": 1em,
  "lg": 2em,
  "full": 50%,
);

.border {
  border: 1px solid currentColor;
}

.border-thick {
  border-width: 2px solid currentColor;
}

:root {
  @each $key, $value in $border-radii {
    --rounded-#{$key}: $value;
  }
}

@each $key, $value in $border-radii {
  .rounded-#{$key} {
    border-radius: $value;
  }
}
